<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://northwindazurefunctionsservice20230605151137.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dd2951b0-6892-42e8-a753-1daa6e8f9dc0/resourcegroups/apps-services-book/providers/Microsoft.Web/sites/NorthwindAzureFunctionsService20230605151137</ResourceId>
    <UserName>$NorthwindAzureFunctionsService20230605151137</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://northwindazurefunctionsservice20230605151137.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>