@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p><a href="home/products">Search for products by name</a></p>
  <p><a href="home/sendmessage">Send a message</a></p>
</div>
